*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;

}
html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background: radial-gradient(ellipse at bottom, #1a68d3 5%, transparent 60%), linear-gradient(136deg, transparent, #71c7ee 290%), linear-gradient(115deg, #9d9af1, transparent 40%), linear-gradient(180deg, transparent 0, #1a68d3 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, #71c7ee 0), radial-gradient(ellipse at bottom, #1a68d3 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #bfc2f4 0);
    


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
  
    .nav1  {
     img{
       padding-left: 2rem;

     }
    }


.nav2{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;

}
   


.nav2 button{
    
    padding: 0.5rem 2rem;
    border-radius: 25px;
    border: none;
    color: blue;
}

.nav3{
    padding-right: 2rem;
    display: none;
    font-size: 2rem;
    color: white;
    font-weight: 600;
   

 
}}
h1{
    font-size: clamp(46px, 5vw, 60px);
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 6rem;
}

.image{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    column-gap: 1rem;
    

 .imgleft{
     width: 100%;
     flex-direction: column;
     align-items: end;
     display: flex; 
     margin-top: 5rem;  
        .left1{
            width: 525px;
          
            
            img{
                width: 100%;
            }
        }
        .imgl2{

            display: flex;
            gap: 1rem;
        .left2{
            width: 201px;                               
            margin-top: 8rem;

            img{
                width: 100%;
            
            }
        }
        .left3{
             width: 201px;  
            margin-top: 1rem;
            
            img{
                width: 100%;
            }}}}
            .imgcenter{
              width: clamp(250px, 50vw, 368px);
              display: flex;
              justify-content: center;
              flex-shrink: 0;
             
                .center1{
                    width: 100%;
                      img{
                          border-radius: 0.7rem;
                          width: 100%;
            

                      }}} 
                   
                      .imgright{
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        margin-top: 5.5rem;
                        gap: 1rem;

                        .rightimg1{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            .right1{
                                width: 201px;
                                img{
                                  width: 100%;
                                }
                            }
                            .right2{
                               width: 201px;
                                img{
                                    width: 100%;
                                }
                            }}
                            .rightimg2{
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
                                margin-top: 5.5rem;

                                .right3{
                                    width: 482px;
                                    img{
                                        width: 100%;
                                    }
                                }
                                .right4{
                                    width: 201px;
                                    img{
                                        width: 100%;
                                    }}}}}

  .text{
    text-align: center;
    max-width: 890px;
    font-size: clamp(2rem,5vw,2.5rem);
    margin: auto;
    margin-top: clamp(2rem,5vw,4rem);
    padding: 1.5rem;
    
    button{
        margin: 3rem 0rem;
        border-radius: 25px;
        border: none;
        color: blue;
        padding: 1rem 2rem;

    }
  }  }
  section.view1{
    width: 100%;
    .headview1{
        text-align: center;
        margin: auto;       
        font-size: 2rem;
        padding: 1.5rem;}
         
        .view1b{
            display: flex;
            justify-content: center;
            align-items: center;
          

            .view1binner{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem 1rem;
                border-radius: 50px;
                background-color: rgba(42, 42, 172, 0.247);
                .fast{
                    background-color: #0468D7;
                    padding: 0.5rem 1.5rem;
                    border-radius: 50px;
                    color: white;
                    }
                    
                    .productive,.flexible{
                       color:#0468D7;
                    }
                
            }
        }
      

    
  }
                   
        
                    

              




@media (max-width:1200px){
       header nav .nav2{
            display: none;
        }
        nav .nav3{
            display: flex;
        }}
       
